---
// component imports
import BlogLayout from "../../layouts/BlogLayout.astro";
import PostCard from "../../components/PostCard.astro";

// utils
import { slugify, posts, formatBlogPosts } from "../../js/utils";
import { categories } from "../../consts";

export async function getStaticPaths() {
  return categories.map(category => ({
    params: { category: slugify(category) },
    props: { name: category },
  }));
}

const { name } = Astro.props;
const { category } = Astro.params;
const formattedPosts = formatBlogPosts(posts);
const catPosts = formattedPosts.filter(
  (post) => slugify(post.frontmatter.category) === category
);
---

<BlogLayout title={name}>
  <section class="container" aria-label={`Posts about ${name}`}>
    <h1 class="h1">Posts about <span>{name}</span></h1>
    <div class="post-container">
      {
        catPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />
        ))
      }
    </div>
  </section>
</BlogLayout>
